@import 'responsive.css';
@import 'animaciones.css';
@import 'componentes.css';
@import 'layout.css';


.navbar-verde,
.navbar-toggler,
.texto-verde,
.nav-link {
    color: #00CB6F;
}


.nav-link:hover {
    color: #076335;
}

.nav-icon {
    font-size: 2em;
}

.texto-banner {
    background-color: rgba(0, 0, 0, 0.250);

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
}

.text-size-banner {
    font-size: 28px;
}

.margen {
    margin-top: 18px;
}

.decoration-none:hover {
    text-decoration: none;
}


.box {
    width: 80%;
    height: 80%;
    margin: auto;
    box-shadow: 5px 10px 15px #076335c7;
    transform: scale(1);
    transition: transform 500ms;
}



.texto-oscuro {
    color: #076335;
}