h3 {
    color: #ffffff;
    text-align: center;
}

h4 {
    color: #696969;
}


.campos-texto {

    color: #076335;
    background-color: #ebf9f3;
    background-clip: padding-box;
    border: 1px solid #076335;
    padding: 8px 15px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
    outline: none;

}



.campos-texto:focus:invalid {
    background: #fff;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}


.campos-texto:hover {
    cursor: pointer;
}


.campos-texto:focus:valid {
    background: #fff;
    box-shadow: 0 0 5px #126a77;
    border-color: #17A2B8;
    font-size: 15px;
}



.buttom {

    font-size: 22px;
    color: #076335;
    margin: 0 3px 0 0;
}


.boton2 {
    align-items: center;
    margin-top: 10px;

}

.bton2 {
    background-color: #076335;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border: 0;
}


.bton2:hover {
    background-color: #000000;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border: 0;
}



/*estilo a la letra del Placeholder*/
:-moz-placeholder {
    color: rgb(30, 151, 115);
}

::-webkit-input-placeholder {
    color: rgb(30, 151, 115);
}

form {
    display: block;
    margin-top: 100px;
}

.registro {
    margin-bottom: 30px;


}




.img-registro {
    float: left;
    position: relative;


}

.general2 {
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 80px;
    align-items: center;
    justify-content: center;
}



.contenedor {
    background-color: #00CB6F;
    border-radius: 10px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.nombre .nombre-color {
    background-color: cornsilk;
    border-radius: 15px;
}





.espacio {
    padding-top: 20px;
    padding-bottom: 5px;
}