/* Cambios Sebastian */
/* @import 'responsive.css'; */
@import 'responsive.css';
@import 'animaciones.css';
@import 'componentes.css';
@import 'layout.css';


/* Variables generales */
:root {
    /* --primer-color: #00CB6F; */
    --primer-color: #28a745;
    --tercer-color: #076335;

    --danger-color: #DC3545;
    --warning-color: #FFC107;
    --info-color: #17A2B8;
}

/* Fuente que esta en figma */
@font-face {
    font-family: 'Inter-titulos';
    src: url(../fuentes/static/Inter-Medium-slnt=0.ttf);
}

@font-face {
    font-family: 'Inter-regular';
    src: url(../fuentes/static/Inter-Regular-slnt=0.ttf);
}

@font-face {
    font-family: 'Kalam';
    src: url(../fuentes/Kalam-Regular.ttf);
}

/* Header */
.titulo-brand {
    font-family: Kalam;
    display: inline;
    color: black;
    font-size: 20px;
    margin: 0;
}

.img-logo {
    width: 60px;
    height: auto;
    padding: 0;
    margin: 0;
}

/* Navbar principal */
.navbar-s {
    background-color: white;
    box-shadow: 0 0 15px black;
}

/* Cambiar color a los link de la navbar */
.navbar-s .nav-link,
.navbar-s .dropdown-item {
    color: var(--primer-color);
}

/* Active de la navbar */
.navbar-s .active .nav-link,
.navbar-s .active .dropdown-menu {
    /* color: var(--tercer-color); */
    font-weight: bold;
}

/* Hover de los link en navbar */


/* Hover del menu productos */
.navbar-s .dropdown-item:hover {
    background-color: var(--primer-color);
    color: white;
}

/* Menu del dropdown */
.navbar-s .dropdown-menu {
    position: absolute;
}

/* Active de la navbar */
.navbar-s .active .nav-link,
.navbar-s .active .dropdown-menu {
    /* color: var(--tercer-color); */
    font-weight: bold;
}

/* Quitar borde naranja al boton */
.navbar-s .boton-hamburguesa:focus {
    outline: none;
}

/* Hover del menu productos */
.navbar-s .dropdown-item:hover {
    background-color: var(--primer-color);
    color: white;
}

/* Menu del dropdown */
.navbar-s .dropdown-menu {
    position: absolute;
}


/* Quitar borde naranja al boton */
.navbar-s .boton-hamburguesa:focus {
    outline: none;
}




/* Main */
/* Fuente para todo el texto */
.textos {
    font-family: Inter-regular;
}

/* Footer */
footer {
    margin-top: 20px;
    background-color: var(--tercer-color);

}


.footer2 {
    position: relative;
    bottom: 0;
    width: 100%;
}



.submenu {
    position: relative;
}

ul {
    list-style: none;
    padding: 15px 0px 0px 0px;
}


.vinetas {
    list-style: square;
    padding: 15px 0px 0px 0px;
}


.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;

    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}