* {
    box-sizing: border-box;
}


.card-hotel {
    /* flex: 1 150px; */
    padding: 10px;
}

.btn-reserva {
    width: 100%;
}

/* .rounded {
    height: 100px;
} */


footer {
    margin-top: 20px;
}