* {
    box-sizing: border-box;
}


.card-hotel {
    flex: 1 250px;
    padding: 10px;
}

.btn-reserva {
    width: 100%;
}

/* .rounded {
    height: 100px;
} */
.card {
    margin: 5px;
}

footer {
    margin-top: 20px;
}